<div class="contenedor">

    <h2 class="titulo">Próximos Eventos</h2>
    
    <div class="container pt-3">
        <div class="row row-cols-1 row-cols-md-3 g-1">
            
            <div class="col mb-5">
                <div class="card g-1" style="width: 100%;" > 
                    <img src="./assets/imagenes/a-ha-reprog.jpg" class="card-img-top" alt="auto">
                    <div class="card-body">
                        <h5 class="card-title">Evento 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio necessitatibus aperiam cupiditate debitis perferendis dolore impedit quo facilis velit recusandae at explicabo ea voluptate esse, maiores perspiciatis animi non maxime?</p>
                        <a href="#" class="btn btn-danger">Comprar Entradas</a>
                    </div>
                </div>  
            </div>   
            
            <div class="col mb-5">
                <div class="card g-1" style="width: 100%;" > 
                    <img src="./assets/imagenes/a-ha-reprog.jpg" class="card-img-top" alt="auto">
                    <div class="card-body">
                        <h5 class="card-title">Evento 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti suscipit reiciendis qui a cupiditate dolorum autem, amet libero tempore at corporis quisquam. Nesciunt labore necessitatibus ipsa ex aspernatur corporis laboriosam?</p>
                        <a href="#" class="btn btn-danger">Comprar Entradas</a>
                    </div>
                </div>  
            </div>  

            <div class="col mb-5">
                <div class="card g-1" style="width: 100%;" > 
                    <img src="./assets/imagenes/a-ha-reprog.jpg" class="card-img-top" alt="auto">
                    <div class="card-body">
                        <h5 class="card-title">Evento 3</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas quasi atque sunt veniam reiciendis distinctio, reprehenderit ex adipisci mollitia esse temporibus, deserunt, a illum consectetur facere molestiae odit aliquam ratione?</p>
                        <a href="#" class="btn btn-danger">Comprar Entradas</a>
                    </div>
                </div>  
            </div>  
          
        </div>
    </div>
    
   
</div>
    